<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:util="http://www.springframework.org/schema/util"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	
	 <bean id="Bajo" 
      class="org.dominio.Bajo"/> 
         
	 
	 <bean id="Bateria" 
      class="org.dominio.Bateria"/> 
  
  
  <bean id="Trompeta" 
      class="org.dominio.Trompeta"/> 
  
		
		 <bean id="Banda" 
      class="org.dominio.Banda"/> 
  
	
	 <bean id="Musico" 
      class="org.dominio.Musico"/> 
  
	
		
	<bean  id="BandaServicio"
	class="org.servicio.IBandaServicio">
	 </bean>
		
	<bean  id="InstrumentoServicio"
	class="org.servicio.IInstrumentoServicio">
	 </bean>
		
		<bean  id="MusicoServicio"
	class="org.servicio.IMusicoServicio">
	 </bean>
	 
		
	 </beans>